.products-section-title {
  font-size: 28px;
  color: var(--color-white);
  font-weight: 700;

  &-sub {
    font-size: 16px;
    color: #c3c1c4;
    margin-top: 10px;
  }
}

.products {
  display: flex;
  overflow-y: auto;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  margin: 35px 0 40px 0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.arrow-btns-wrapper {
  position: relative;
  width: 100%;
}
