.arrow-btn {
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  outline: none;
  background: rgba(255, 255, 255, 0.05);
  color: var(--color-white);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;

  &:hover {
    border: 2px solid var(--color-white);
    box-shadow: 4px 9px 60px 4px rgba(218, 54, 84, 0.35);
  }

  &-left {
    left: -65px;
    top: 150px;

    @include responsive(tablet-large) {
      left: -40px;
    }

    @include responsive(small) {
      left: 10px;
      top: 145px;
    }
  }

  &-right {
    right: -25px;
    top: 150px;

    @include responsive(tablet-large) {
      right: -7px;
    }

    @include responsive(small) {
      right: 10px;
      top: 145px;
    }
  }
}
