.shopping-cart {
  position: relative;

  &-btn {
    background: transparent;
    outline: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    z-index: 99;
  }

  &-arrow-icon {
    position: absolute;
    top: 5px;
    margin-left: 1px;
  }
}

.cart {
  position: absolute;
  right: 0;
  padding: 15px;
  width: auto;
  min-width: 261px;
  height: auto;
  min-height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-white);
  border-radius: 2px;
  background-color: var(--theme-ui-colors-background-primary, #1c042e);
  -webkit-box-shadow: 2px 2px 15px 0px #000000;
  box-shadow: 2px 2px 15px 0px #000000;
  z-index: 99;
  max-height: 500px;
  overflow-y: auto;

  &-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
  }

  &-image {
    width: 22px;
    height: 26px;
  }

  &-title {
    font-size: 12px;
    font-weight: 700;
    padding: 0 5px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-width: 60%;
  }

  &-price {
    font-size: 12px;
    font-weight: 700;
  }

  &-empty-msg {
    text-align: center;
    margin-top: 10px;
  }

  &-btn {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    cursor: pointer;
    margin-top: 10px;
  }
}
