.product-section-title {
  font-size: 24px;
  color: var(--color-white);
  font-weight: 800;

  &-sub {
    margin-top: 5px;
    font-size: 14px;
    color: #c3c1c4;
  }
}

.products {
  display: flex;
  overflow-y: auto;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  margin: 25px 0 40px 0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
