.product {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(tablet) {
    flex-direction: column;
  }

  &-image {
    margin-right: 60px;
    object-fit: cover;
    object-position: center center;
    transition-delay: 500ms;

    @include responsive(tablet) {
      margin-right: 0;
    }

    img {
      height: 363.8px;

      @include responsive(tablet) {
        height: 220px;
      }

      @include responsive(tablet-small) {
        height: 170px;
      }

      &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
      }
    }

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    min-height: 300px;
    width: 350px;

    @include responsive(tablet) {
      align-items: center;
    }

    @include responsive(small) {
      width: 100%;
    }
  }

  &-label {
    font-size: 14px;
    color: var(--color-yellow);
    margin-bottom: 10px;

    @include responsive(tablet) {
      text-align: center;
    }
  }

  &-name {
    font-size: 32px;
    font-weight: 700;
  }

  &-description {
    font-size: 18px;

    @include responsive(tablet) {
      padding: 0 10px;
      text-align: center;
    }
  }

  &-price {
    font-size: 22px;
    font-weight: 700;
  }

  &-btn {
    border-color: var(--theme-ui-colors-accent, #ab528d);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--theme-ui-colors-accent, #ab528d) inset,
      0 0 0 0 var(--theme-ui-colors-accent, #ab528d);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 var(--theme-ui-colors-accent, #ab528d) inset,
        0 0 10px 4px var(--theme-ui-colors-accent, #ab528d);
    }
  }
}
