/* Rules for sizing the icon. */
.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-19 {
  font-size: 19px;
}
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-21 {
  font-size: 21px;
}
.material-icons.md-22 {
  font-size: 22px;
}
.material-icons.md-23 {
  font-size: 23px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-25 {
  font-size: 25px;
}
.material-icons.md-26 {
  font-size: 26px;
}
.material-icons.md-27 {
  font-size: 27px;
}
.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-29 {
  font-size: 29px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-31 {
  font-size: 31px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-33 {
  font-size: 33px;
}
.material-icons.md-34 {
  font-size: 34px;
}
.material-icons.md-35 {
  font-size: 35px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-37 {
  font-size: 37px;
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-grey {
  color: var(--color-grey);
}

.material-icons.md-dark {
  color: var(--color-black);
}

.material-icons.md-white {
  color: var(--color-white);
}
